<section class="editList" data-ng-controller="ListsController" data-ng-init="findOne()">
    <div class="row">
         <div class="text-center col-md-offset-4 col-md-5">
            <div class="">
                <br><br>
                <h1 id="editListHeading">Edit List</h1>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <form class="form-horizontal" data-ng-submit="update()" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="name"></label>
                            <div class="editCaption" class="controls">
                                <input type="text" data-ng-model="list.caption" id="name" class="form-control" placeholder="caption" required><br>
                                <input type="text" data-ng-model="list.description" id="name" class="form-control" placeholder="Description" required>
                            </div>
                        </div> 
                                <div>
                                    <p>
                                    <input type='button' ng-click='addText()' value='Add Text' class='btn btn-ok'/> <input type='button' ng-click='addPicture()' class='btn btn-info' value='Add Image'/> <input type='button' ng-click='addVideo()' value='Add Video' class='btn btn-warning'/>
                                    </p>
                                 </div>
                                <div id="editList" class="editItems"data-ng-repeat="item in list.items">
                                    <p>{{item.itemType | uppercase}}</p>
                                    <p><input id="editTitle" type='text' data-ng-model='item.itemTitle' placeholder='Item Title'></p>
                                    <p><input id="editDescription" type='text' data-ng-model='item.itemDescription' placeholder='Item Description'></p>
                                    <p><input id="editPicture" type='picture' data-ng-model='item.itemImageUrl' placeholder='Image Link' data-ng-if="item.itemType ==='picture'"></p><br>
                                    <p><input id="editVideo" type='video' data-ng-model='item.itemVideoUrl' data-ng-if="item.itemType==='video'"placeholder='Video Link'/></p>
                                    <input type='button' ng-click='removeItem($index)' value='Delete Item' class='btn btn-ok'/>
                                </div><br>
                                 <div>  
                        <div class="">
                            <input type="submit"  value='Update' class="btn btn-default">
                        </div><br>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="footer">
</section>
<div class="containerrfooter">
    <p class="text-muted credit text-center">Expressions &copy 2014.All rights reserved.<a href="http://osatuore.omorodion@andela.co">   Omorodion Osatuore</a>.</p>
</div>
</div>

