/********************************
LIST LISTS STYLING
********************************/

.listsImage {
	background: url(/modules/lists/img/expressions4.jpg) no-repeat;
	height: 100%;
}


#submitButton {
	padding: 0 0 0 0;
}

#deletebutton {
	padding: 0 0 10px 0;
}


#listHeader {
	color: white;
}

#itemtype {
	padding: 5px 0 0 0;
}

.itemDiv {
	padding: 103px 0 0 0;
}
.list-item {
	margin:0 auto;
	padding: 30px;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
	margin-bottom: 10px;
	width: 80%;
}

#itemTitle {
	font-size: 1.5em;
	font-family: 'Lobster Two', cursive;
	padding-bottom: 15px; 
	color: #782a2a;
}

#itemsDescription {
	font-size: 1.5em;
	padding: 7px 0 0 0;
}
 

 .sp{
 	margin-bottom: 50px;
	border-bottom: 1px solid black;
	padding-bottom: 11px;
 }

 .viewLIst {
 	/*background: url(/modules/lists/img/expressions4.jpg) no-repeat;*/
	/*height: 100%;*/
 }


.box {
	border: 2px solid red;
	/*height: auto;*/
/*	margin-top: 84px;*/
	margin: 0 auto;
}

.myCaption{
	margin-top: 100px;
}

.captionName {
	font-size: 2em;
	padding: 91px 0 10px 0;
	font-family: 'Abril Fatface', cursive;
}


 /*********************************
	CREATE AND EDIT LIST STYLING
 *********************************/

 #newListHeader {
 	padding: 20px 0 0 0;
 }

.addItems {
	background-color: #f0f0f0;
	background-size: cover;
	border-bottom: 1px solid black;
}


#itemType {
	padding: 10px 0 0 0;
}

.itemName {
	width: 70%;
}

#itemDescription {
	width: 80%;
	overflow: hidden;
}


#pictureLink {
	width: 80%;
}


.createList {
	background: url(/modules/lists/img/expressions10.jpg) no-repeat;
	background-size: cover;
	height: 600px;
}

.listwrap {
	height: 30em;
	overflow: auto;
	margin-bottom: 10em;
}


.editList {
	background: url(/modules/lists/img/expressions10.jpg) no-repeat;
	background-size: cover;
}

.containerfooter {
	padding: 241px 0 0 0;
}

.allItems {
	background-color: white;
	width: 500px;
	overflow: auto;
	height: 233px;
	margin-left: -49px;
}

#textField {
	margin-left: 48px;
	width: 385px;
	padding: 0 0 10px 0;
}

#textDiv {
	padding:0 0 25px 0;
}

/***************************************
	VIEW LIST PAGE STYLING
***************************************/

.updatbutton {

}



/***************************************
	EDIT LIST PAGE STYLING
***************************************/

#editList{
	margin:10px 10px 0 -184px;
	padding: 42px;
	box-shadow: 0 0 12px 0 rgba(0,0,0,10.1);
	margin-bottom: -59px 0 10px 0;
	width: 180%;
	}

	#editListHeading {
		margin-right: 90px;
		padding: 61px 0 20px 0;
	}

	#editTitle, #editDescription, #editPicture, #editVideo {
		width: 492px;
		padding: 0 0 0 13px;
	}

	.editCaption {
		width: 492px;
		padding: 35px 0 0px 0;
	}

	




































